<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.ColorScheme" title="@Strings.ColorMenuTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorRed</listEntry>
            <listEntry value="1">@Strings.ColorGreen</listEntry>
            <listEntry value="2">@Strings.ColorBlue</listEntry>
            <listEntry value="3">@Strings.ColorOrange</listEntry>
            <listEntry value="4">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TapToCycle" title="@Strings.TapToCycleMenuTitle" prompt="@Strings.TapToCycleNote">
        <settingConfig type="boolean" />
    </setting>

</settings>
